
body {
    display: flex;
    flex-direction: column;
}
.header, .first {
    background: #1F2937;
    color: white;
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.container {
    display: flex;
    height: 300px;
}

.first {
    align-items: center;
    justify-content: center;
}

.first > div {
    padding-left: 200px;
}

.first > div, .thor-image {
    padding-top: 50px;
    padding-bottom: 50px;
}

.thor-image {
    padding-right: 200px;
}

.second {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}
.cards{
    display: flex;
}
.card-image {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
img {
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    flex: 1;
}

.third {
    background: lightgray;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 24px;
    font-style: italic;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937
}