
body {
    display: flex;
    flex-direction: column;
}
.header, .first {
    background: #1F2937;
    color: white;
    display: flex;
}

img {
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    flex: 1;
}
.container {
    display: flex;
}