
body {
    display: flex;
    flex-direction: column;
}
.header, .first {
    background: #1F2937;
    color: white;
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}



ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.first {
    align-items: center;
    justify-content: center;
}

.first > div {
    padding-left: 200px;
}

.thor-image {
    padding-right: 200px;
}

.second {
    display: flex;

}
card {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
img {
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    flex: 1;
}
.container {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}